    <!-- About Section -->
    <section id="about" class="container content-section text-center">
    <style>    
     #full_image {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  position: absolute
}

#full_image li {
  display: inline;
}

#full_image li img {
  margin: 0 auto;
  max-width: 20%
}
    </style>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hi!</h2>
                <p>I'm a freelance writer, editor, and content strategist. My specialty is telling stories and packaging content so it's digestible and grabs an audience's attention — whether it's web content, blog posts, emails, social media, copywriting, or podcasts. I've been published in Refinery29, Teen Vogue, and Marie Claire and was previously a Contributing Editor at Bustle and a Senior Editor at The Frisky.</p>
                <ul id="full_image">
                <li>
                <img src="/img/logos/college_pulse_2.png" alt="College Pulse">
                <img src="/img/logos/wealthfront.png" alt="Wealthfront">
                <img src="/img/logos/bustle_2.png" alt="Bustle">
                <img src="/img/logos/refinery29_2.png" alt="Refinery29">
                <img src="/img/logos/teen vogue 2.png" alt="Teen Vogue">
                    </li>
            </div>
        </div>
    </section>
