    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Writing</h2>
                        <h3>Refinery29</h3>
                            <a href="http://www.refinery29.com/2017/09/172015/women-run-white-house-communications-team/" class="btn btn-default btn-lg">The Female White House Communications Team Is Just Good Optics</a>f
                            <a href="http://www.refinery29.com/2017/08/170287/lost-my-home-hurricane-harvey-flood/" class="btn btn-default btn-lg">I Lost My Home In Hurricane Harvey</a>
                            <a href="http://www.refinery29.com/2017/08/169514/black-latinx-ivy-league-students-underrepresented/" class="btn btn-default btn-lg">Black & Latinx Ivy League Students Are Underrepresented — & They Feel It</a>
                            <a href="http://www.refinery29.com/2017/08/169902/transgender-woman-cant-enlist-military/" class="btn btn-default btn-lg">Trump's Military Ban Means I'm "Not Deemed Worthy" To Enlist</a>
                            <a href="http://www.refinery29.com/2017/08/168372/ivanka-trump-jared-kushner-vacation-during-dc-crises/" class="btn btn-default btn-lg">Ivanka & Jared Tend To Be On Vacation When Things Get Heated In D.C.</a>
                            <a href="http://www.refinery29.uk/2017/08/167967/ivanka-trump-clothing-brand-boycott-confusion/" class="btn btn-default btn-lg">I Tried On Ivanka Trump Pants & Got Really Confused In A Marshalls Dressing Room</a>
                            <a href="http://www.refinery29.com/2017/08/166096/alabama-minor-abortion-law-struck-down/" class="btn btn-default btn-lg">Alabama Abortion Law Struck Down For Placing An Undue Burden On Minors</a>
                            <a href="http://www.refinery29.com/2017/06/161495/iowa-defunding-planned-parenthood-healthcare/" class="btn btn-default btn-lg">Let Iowa Be A Warning About What Defunding Planned Parenthood Really Means</a>
                            <a href="http://www.refinery29.com/2017/07/163266/betsy-devos-campus-rape-mens-rights-groups/" class="btn btn-default btn-lg">What Did Men's Advocacy Groups Say To Betsy DeVos About Title IX?</a>
                            <a href="http://www.refinery29.com/2017/05/152760/nancy-pelosi-democrat-abortion-comments/" class="btn btn-default btn-lg">Nancy Pelosi Thinks Abortion Is "Fading As An Issue" — She's Wrong</a>
                            <a href="http://www.refinery29.uk/2017/05/157038/pull-out-paris-agreement-hurt-women/" class="btn btn-default btn-lg">Pulling Out Of The Paris Climate Agreement Will Hurt Women Everywhere</a>
                            <a href="http://www.refinery29.com/2017/04/151570/trump-first-100-days-president-women/" class="btn btn-default btn-lg">Trump's First 100 Days In Office Were A Disaster For Women</a>
                </div>
            </div>
        </div>
    </section>