    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Journalism</h2>
                    <h3>The Cut</h3>
                            <p>
                            <a href="https://blog.wealthfront.com/how-do-interest-rates-work-heres-everything-you-need-to-know/">How Do Interest Rates Work?</a>
                            <p>
                            
                    <h3>Rewire.News</h3>
                            <p>
                            <a href="https://rewire.news/article/2019/11/05/jessica-cisneros-is-taking-on-one-of-congress-last-anti-choice-democrats/">Jessica Cisneros Is Taking on One of Congress’ Last Anti-Choice Democrats</a>
                            <p>
                            <a href="https://rewire.news/article/2019/09/04/the-gop-presidential-candidate-who-supports-abortion-rights/">The GOP Presidential Candidate Who Supports Abortion Rights</a>
                            <p>
                            <a href="https://rewire.news/article/2018/08/22/the-future-of-abortion-rights-may-lie-in-the-fate-of-these-gubernatorial-races/">The Future of Abortion Rights May Lie in the Fate of These Gubernatorial Races</a>
                            <p>
                            <a href="https://rewire.news/article/2018/07/31/i-didnt-tell-a-soul-illegal-abortion-then-and-now/">‘I Didn’t Tell a Soul’: Illegal Abortion Then and Now</a>
                            <p>
                            <a href="https://rewire.news/article/2018/06/29/justice-kennedys-retirement-leave-abortion-rights-state-lawmakers/">Justice Kennedy’s Retirement Could Leave Abortion Rights Up to State Lawmakers</a>
                            <p>
                    <h3>Marie Claire</h3>
                            <p>
                            <a href="https://www.marieclaire.com/politics/a23843698/2018-midterm-elections-immigration/">If You Care About Immigration, Here's What You Need To Know About The Midterms</a>
                            <p>
                    <h3>Teen Vogue</h3>
                            <p> 
                            <a href="https://www.teenvogue.com/story/why-brett-kavanaughs-comment-about-birth-control-is-so-worrisome">Why Brett Kavanaugh's Comment About Birth Control Is So Worrisome</a>
                            <p>
                            <a href="https://www.teenvogue.com/story/wisconsin-50-miles-more-activists-paul-ryan-retirement/">Wisconsin's 50 Miles More Activists Think They Had a Part in Paul Ryan's Retirement</a>
                            <p>           
                     <h3>Bustle</h3>
                            <p>
                            <a href="https://www.bustle.com/p/how-wyoming-gave-women-the-vote-50-years-before-the-rest-of-the-country-16974038">How Wyoming Gave Women The Vote 50 Years Before The Rest Of The Country</a>
                            <p>
                            <a href="https://www.bustle.com/p/women-candidates-in-2018-are-giving-each-other-the-support-that-the-political-system-wont-10133793">Women Candidates In 2018 Are Giving Each Other The Support That The Political System Won’t</a>
                            <p>
                            <a href="https://www.bustle.com/p/these-transgender-candidates-running-in-2018-want-you-to-think-beyond-that-label-9296368">These Transgender Candidates Running In 2018 Want You To Think Beyond That Label</a>
                            <p>
                            <a href="https://www.bustle.com/p/vermont-has-never-had-a-woman-in-congress-the-reason-why-isnt-what-youd-expect-8615105/">Vermont Has Never Had A Woman In Congress & The Reason Why Isn't What You'd Expect</a>
                            <p>
                            <a href="https://www.bustle.com/p/what-female-gun-owners-want-to-change-about-americas-laws-8534676/">What Female Gun Owners Want To Change About America’s Laws</a>
                            <p>
                            <a href="https://www.bustle.com/p/women-running-for-office-in-2018-are-demanding-that-you-take-them-seriously-heres-how-8163942/">Women Running For Office In 2018 Are Demanding That You Take Them Seriously — Here's How</a>
                            <p>
                            <a href="https://www.bustle.com/p/detained-immigrant-women-are-facing-a-grueling-abortion-struggle-50388/">Detained Immigrant Women Are Facing A Grueling Abortion Struggle</a>
                            <p>
                            <a href="https://www.bustle.com/articles/162864-the-purvi-patel-case-exposes-donald-trumps-abortion-stance-for-what-it-would-actually-do/">The Purvi Patel Case Exposes Donald Trump's Abortion Stance For What It Would Actually Do</a>
                            <p>
                            <a href="https://www.bustle.com/articles/154152-this-hillary-clinton-look-alike-has-used-her-resemblance-in-the-best-possible-way/">This Hillary Clinton Look-Alike Has Used Her Resemblance In The Best Possible Way</a>
                            <p>
                        <h3>Refinery29</h3>
                            <p>
                            <a href="http://www.refinery29.com/2017/09/172015/women-run-white-house-communications-team/">The Female White House Communications Team Is Just Good Optics</a>
                            <p>
                            <a href="http://www.refinery29.com/2017/08/170287/lost-my-home-hurricane-harvey-flood/">I Lost My Home In Hurricane Harvey</a>
                            <p>
                            <a href="http://www.refinery29.com/2017/08/169902/transgender-woman-cant-enlist-military/">Trump's Military Ban Means I'm "Not Deemed Worthy" To Enlist</a>
                            <p>
                            <a href="http://www.refinery29.uk/2017/08/167967/ivanka-trump-clothing-brand-boycott-confusion/">I Tried On Ivanka Trump Pants & Got Really Confused In A Marshalls Dressing Room</a>
                            <p>
                            <a href="http://www.refinery29.com/2017/06/161495/iowa-defunding-planned-parenthood-healthcare/">Let Iowa Be A Warning About What Defunding Planned Parenthood Really Means</a>
                            <p>
                            <a href="http://www.refinery29.com/2017/05/152760/nancy-pelosi-democrat-abortion-comments/">Nancy Pelosi Thinks Abortion Is "Fading As An Issue" — She's Wrong</a>
                            <p>
                            <a href="http://www.refinery29.uk/2017/05/157038/pull-out-paris-agreement-hurt-women/">Pulling Out Of The Paris Climate Agreement Will Hurt Women Everywhere</a>
                            <p>
                            <a href="http://www.refinery29.com/2017/04/151570/trump-first-100-days-president-women/">Trump's First 100 Days In Office Were A Disaster For Women</a>
                            <p>            
                        <h3>More</h3>
                            <p>
                            <a href="http://bklynr.com/its-2015-do-you-know-where-your-leftovers-are//">It’s 2015. Do You Know Where Your Leftovers Are?</a>
                            <p>
                            <a href="http://www.amny.com/lifestyle/a-behind-the-scenes-look-at-what-happens-to-new-york-s-recycled-trash-1.7781278/">A Behind-The-Scenes Look At What Happens To New York's Recycled Trash</a>
                </div>
            </div>
        </div>
    </section>
